<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1" thread-count="3" parallel="tests">
    <test name="Cart Page" parallel="tests">
        <classes>
            <class name="CartPageTest"/>
        </classes>
    </test>
    <test name="Delivery Page" parallel="tests">
        <classes>
            <class name="DeliveryPageTest"/>
        </classes>
    </test>
    <test name="Laptops Page" parallel="tests">
        <classes>
            <class name="SearchBoxTest"/>
        </classes>
    </test>
</suite>
